<section class="top-banner-section">
  <!-- The CSS grid area that displays the image (layer 1) -->
  <div class="banner-image-div">
    <img class="banner-image" src="https://cdn.cfr.org/sites/default/files/styles/immersive_image_3_2_desktop_2x/public/image/2020/02/ImmigrationDebate.jpg.webp" alt="Banner Image" />
  </div>
  <!-- The CSS grid area that displays the semi-transparent gradient overlay (layer 2) -->
  <div class="banner-overlay-div"></div>
  <!-- The CSS grid area that displays the content (layer 3) -->
  <div class="banner-text-div">
    <span class="banner-text">
      <p class="banner-h1-text">Query 9: Development Assistance & Immigration</p>
    </span>
  </div>
</section>
<p>     </p>
<mat-card class="example-card" appearance="raised">
  <mat-card-title>Overview</mat-card-title>
  <mat-card-content>
      <h3>The colloquial query:</h3>
      <p>For each year between 1990 and 2020, how much official development assistance was received by countries with high immigration rates? </p>
      <p></p>
      <h3>To edit the view:</h3>
      <p>To edit the data you can view, click the edit view button and save your settings</p>
  </mat-card-content>
  <mat-card-actions align ="end">
    <button mat-raised-button (click)="onClick()">Edit View</button>
  </mat-card-actions>
</mat-card>
<table style="width:20%">
    <tr>
      <td><button mat-raised-button routerLink="/query8" routerLinkActive="active" ariaCurrentWhenActive="page">Previous</button></td>
      <td><p></p></td>
      <td><button mat-raised-button routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Next</button></td>
      <td><p></p></td>
    </tr>
</table>