<!-- The CSS grid that makes up the entirety of the hero image/banner image area -->
<section class="top-banner-section">
    <!-- The CSS grid area that displays the image (layer 1) -->
    <div class="banner-image-div">
      <img class="banner-image" src="https://cdn.wallpapersafari.com/18/60/zukp1K.jpg" alt="Banner Image" />
    </div>
    <!-- The CSS grid area that displays the semi-transparent gradient overlay (layer 2) -->
    <div class="banner-overlay-div"></div>
    <!-- The CSS grid area that displays the content (layer 3) -->
    <div class="banner-text-div">
      <span class="banner-text">
        <p class="banner-h1-text">Welcome To Our Website!</p>
        <p class="banner-body-text">We have made a collection of many world datasets so that you can see our world in data</p>
      </span>
    </div>
  </section>

 

  <section class="query-links">
    <table style="width:100%">
        <tr>
            <td><p></p></td>
            <td><p></p></td>
            <td><p></p></td>
        </tr>
        <tr>
          <td><button mat-raised-button routerLink="/query1" routerLinkActive="active" ariaCurrentWhenActive="page">Query 1: Poverty</button></td>
          <td><button mat-raised-button routerLink="/query4" routerLinkActive="active" ariaCurrentWhenActive="page">Query 4: Poverty</button></td>
          <td><button mat-raised-button routerLink="/query7" routerLinkActive="active" ariaCurrentWhenActive="page">Query 7: Poverty</button></td>
        </tr>
        <tr>
            <td><p></p></td>
            <td><p></p></td>
            <td><p></p></td>
        </tr>
        <tr>
            <td><button mat-raised-button routerLink="/query2" routerLinkActive="active" ariaCurrentWhenActive="page">Query 2: Poverty</button></td>
            <td><button mat-raised-button routerLink="/query5" routerLinkActive="active" ariaCurrentWhenActive="page">Query 5: Poverty</button></td>
            <td><button mat-raised-button routerLink="/query8" routerLinkActive="active" ariaCurrentWhenActive="page">Query 8: Poverty</button></td>
        </tr>
        <tr>
            <td><p></p></td>
            <td><p></p></td>
            <td><p></p></td>
        </tr>
        <tr>
            <td><button mat-raised-button routerLink="/query3" routerLinkActive="active" ariaCurrentWhenActive="page">Query 3: Poverty</button></td>
            <td><button mat-raised-button routerLink="/query6" routerLinkActive="active" ariaCurrentWhenActive="page">Query 6: Poverty</button></td>
            <td><button mat-raised-button routerLink="/query9" routerLinkActive="active" ariaCurrentWhenActive="page">Query 9: Poverty</button></td>
        </tr>
        <tr>
            <td><p></p></td>
            <td><p></p></td>
            <td><p></p></td>
        </tr>
      </table>
  </section>