<mat-toolbar color = 'primary'>
    <p>
        <mat-toolbar-row id="navbar" >
            <span>
                <h2 class="title">Insights into World Data</h2>
            </span>
            <span id="nav-buttons">
                <table style="width:100%">
                    <tr>
                      <td><button mat-raised-button routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</button></td>
                      <td><p></p></td>
                      <td><button mat-raised-button routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Contact/About Us</button></td>
                    </tr>
                </table>
            </span>
        </mat-toolbar-row>
    </p>
</mat-toolbar>
