<mat-toolbar color = 'primary'>
    <p>
        <mat-toolbar-row id="navbar" >
            <span>
                <h2 class="title">Insights into World Data</h2>
            </span>
            <span id="nav-buttons">
                <button mat-raised-button color="lightblue" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</button>
                <button mat-raised-button color="lightblue" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Contact/About Us</button>
            </span>
        </mat-toolbar-row>
    </p>
</mat-toolbar>
