
<form>
    <h2 align="center">Edit the Displayed Data</h2>
    <p align="center"><mat-form-field appearance="fill">
      <mat-label>Time frequency</mat-label>
      <mat-select name="frequency" [(value)]="selectedValue">
        <mat-option *ngFor="let frequency of frequencies" [value]="frequency.value">
          {{ frequency.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field></p>
    <p align="center">You selected: {{selectedValue}}</p>
    <p></p>
    <h3 align="center"><b>Select Year Range</b></h3>
    <p align="center">
      <mat-slider min="1960" max="2020" discrete>
        <input matSliderStartThumb value2="2010">
        <input value2="2010" matSliderEndThumb>
      </mat-slider>
    </p>
        
    
    <br>
    <h3 align="center"><b>Choose Map or Graph View</b></h3>
        <p align="center">
          <mat-button-toggle-group value="graph" align="center">
            <mat-button-toggle>
              <mat-icon>multiline_chart</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="map">
              <mat-icon>public</mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>
        </p>

  </form>


